<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registration Page</title>
</head>
<body>
  <div class="container p-5">
    <div class="row">
      <div class="col-md-6 mx-auto text-center">
        <div class="card ">
          <div class="card-body"> 
            <div class="row">
              <div class="col">
                <img  class="center-img"  src="https://img.icons8.com/material-rounded/50/000000/user.png"/>
                            <h5 class="card-title text-center text-uppercase">Sign Up</h5>
              </div>
            </div>
            <div class="form">
              
                <form [formGroup]="formVar" (ngSubmit)="onSubmit()">
                  
                    <div class="row p-2">
                      <div class="col">
                        
                        <input type="text" required formControlName="email" placeholder="Enter your email" class="form-control rounded">  
                      </div>
                    </div>
                    <div class="row p-2">
                      <div class="col">
                        
                        <input type="password" required formControlName="password" minlength="6" class="form-control rounded" placeholder="Enter  password">
                      </div>
                    </div>
                    <div>
                      <div>
                        
                        <input type="checkbox" class="check-box" /><span> I agree to the terms & conditions</span>
                      </div>
                      
                      <button class="btn btn-lg btn-success btn-block text-uppercase " type="submit">Create Account</button>
                    </div>
                                 
                </form>>
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
         
</body>
</html>